*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to top);
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .one, .two, .three {
    margin: 20px;
    width: 100%;
    height: 49px;
    background: black;
    animation: 1000ms cubic-bezier(.42,0,.58,1) alternate infinite ; }
    