*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body{
    height: 100vh;
    background: linear-gradient(to top);
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .one, .two, .three {
    margin: 20px;
    width: 50px;
    height: 49px;
    background: black;
    border-radius: 50%;
    animation: bounce 1000ms cubic-bezier(.42,0,.58,1) alternate infinite ;
    
  }
  .one {
    animation-delay: .2s;
  }
  .two {
    animation-delay: .4s;
  }
  .three {
    animation-delay: .6s;
  }
  
  @keyframes bounce {
    0% {
      transform: translate(0px, -12vh);
    }
    75% {
       height: 55px;
       width: 44px;
      margin: 20px;
    }
    100% {
      transform: translate(0px, 12vh);
       height: 30px;
       width: 60px;
      margin: 10px;
    }
  }
  