<table>
    <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<template id="tablerow">
    <tr>
        <td class="id"></td>
        <td class="username"></td>
        <td>
            <a href="/api/blog?id=">Voir</a>
            &nbsp;|&nbsp;
            <a href="limited" href="/api/use/update?id=">Editer</a>
            &nbsp;|&nbsp;
            <a href="limited" href="/api/use/delete?id=">Supprimer</a>
        </td>
    </tr>
</template>