/* Error: Duplicate argument.
 *    ,
 * 63 | @mixin absol($top, $l, $trx: -50%, $trx:-50%) 
 *    |                                    ^^^^^^^^^
 *    '
 *   sass\test.scss 63:36  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Duplicate argument.\a    \2577 \a 63 \2502  @mixin absol($top, $l, $trx: -50%, $trx:-50%) \d\a    \2502                                     ^^^^^^^^^\a    \2575 \a   sass\\test.scss 63:36  root stylesheet";
}
