*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* depuis ete 2023 il est possible utiliser le nesting dans le css classique. 
seulement attention, il n'est pas possiblement pas encore deploye partout.
de plus la standartisation n'est pas encore parfaite, et certaines regles peuvent deriver d un navigateur a l autre
*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* comme en SCSS il est possible de mettre un selecteur dans un autre, ce qui equivaut ici à dire: 
    body > header */
    > header{
        background-color: lightgreen;
        text-align: center;
        padding: 1rem;
        &>h1
        {
            font-size: 3rem;
        }
        >p 
        {
            font-size: 1.5rem;
        }
    }


/* actuellement, si je met un nom de balise, seul dans un nesting.
firefox le comprend sans problem, mais chrome refusera, pour ce dernier, utiliser "&" est obligatoire. Pour chrome, un element nested, doit forcement commencer par un symbole: &, :, ::, ~, 
*/
& main {
width: 80%;
margin: auto;
background-color: lightcyan;
& h2 {
    text-indent: 20px;
    text-decoration: underline dashed red;
}

& section {
    margin: 20px 50px;
    padding: 10px;
    border-radius: 10px;

    & h2 {
        text-indent: 20px;
        text-decoration: underline dashed red;
    }
    > p {
        margin: 1em auto;
        text-align: justify;
    }



/* attention de bien mettre le nesting selector lorsque vous ne voulez pas selectionner un enfant: 
section{&:fisrt-child}
equivaut à: 
section:first-child
mais:

*/
&:first-child, &:last-child {
    background-color: lightsalmon;
    box-shadow: 5px 5px 3px rgba(136, 84, 64, 0.4);
}
&:first-child span {
    font-family: monospace;
}
&:nth-child(2){
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    >h2 {
        grid-column: 1/-1;
    }
    & article
    {
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px;
        background-color: antiquewhite;
        box-shadow: 5px 5px 3px rgba(139, 131, 120, 0.5);
    & h3 {
        text-align: center;
        font-size: 1.5rem;
    }
    &footer{
        text-align: right;
    }
    }
}
&:last-child {
    & h2 {
        text-decoration: underline dotted blue;
        & + p {
            font-size: 1.2em;
            & ~ p {
font-style: italic;
            }
        }
    }
}}
}
> footer {
    background-color: lightskyblue;
    padding: 20px;
    font-size: 1.5rem;
    & ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
}
}
.strong {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*:is ici juste for respecter le regle for chrome*/
    :is(header) & {
text-decoration: underline;
    }
    :is(main) & {
        font-weight: bold;
    }
}


